html,
body {
    font-family: "Open Sans", sans-serif;
    font-size: 104%;
}

ol {
    list-style-type: none;
    padding-left: 0;
}

h3,
h2 {
    margin-bottom: 0;
    margin-top: 0.3em;
}

.ul-number {
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    padding: 0.12em;
    display: inline-flex;
    font-weight: bolder;
}

.timeline-content,
h3,
.timeline-time {
    display: inline-block;
}

.red {
    background-color: #ee352e;
}

.orange {
    background-color: #ff6319;
}

.yellow {
    background-color: #fccc0a;
}

.blue {
    background-color: #0039a6;
}

.green {
    background-color: #6cbe45;
}

.timeline-time {
    font-style: italic;
}

input {
    border-color: black;
    border-radius: 0;
    background-color: red;
    outline: 1px solid red;
}
