:root {
    --base-radius: 0.8em;
    --base-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    --background-color: rgb(255, 220, 130);
    --cloud-color: rgba(255, 255, 255, 0.8);
    --timeline-color: var(--cloud-color);
    --border-color: rgb(150, 150, 150);
    --border-width: 0.1em;
    --slot-color: rgb(182, 199, 255);
    --task-color: rgb(210, 209, 209);
    --error-color: rgb(255, 174, 150);
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

html,
body,
.wrapper {
    background-color: var(--background-color);
    font-family: "Open Sans", sans-serif;
    height: auto;
    min-height: 100%;
}

.flex-element {
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 6vw;
    padding-right: 6vw;
    margin: 5vh;
    width: 44vw;
    background-color: var(--cloud-color);
    box-shadow: var(--base-shadow);
    border-radius: var(--base-radius);
}

.timeline-task,
.timeline-slot {
    margin-top: 0.4em;
    box-shadow: var(--base-shadow);
}

.timeline-slot {
    padding: 2em 1em 2em 1em;
    background-color: var(--slot-color);
}

.timeline-task {
    padding: 1em;
    border-radius: var(--base-radius);
    background-color: var(--task-color);
}

#timeline {
    list-style-type: none;
}

#timeline-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--timeline-color);
    min-height: 78vh;
}

.form {
    margin-top: 1em;
    display: flex;
    justify-content: left;
    align-items: center;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--base-radius);
    padding: 1em;
    font-weight: lighter;
}

h1 {
    text-transform: uppercase;
}

.form-error {
    color: var(--error-color);
}

#noelem {
    font-style: italic;
}

.task-error {
    background-color: var(--error-color);
}
