@import "./vars.scss";

html,
body {
    font-family: "Open Sans", sans-serif;
    font-size: 104%;
}

ol {
    list-style-type: none;
    padding-left: 0;
}

h3,
h2 {
    margin-bottom: 0;
    margin-top: 0.3em;
}

.ul-number {
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    padding: 0.12em;
    display: inline-flex;
    font-weight: bolder;
}

.timeline-content,
.timeslot-content,
h3,
.timeline-time {
    display: inline-block;
}

.red {
    background-color: #ee352e;
}

.orange {
    background-color: #ff6319;
}

.yellow {
    background-color: #fccc0a;
}

.blue {
    background-color: #0039a6;
}

.green {
    background-color: #6cbe45;
}

.timeline-time {
    font-style: italic;
}

.no-print {
    button {
        color: $theme-white;
        border-color: rgba(0, 0, 0, 0);
        border-radius: $border-radius-3;
        background-color: $theme-blue-2;
        border-style: solid;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.1em;
    }

    background-color: $theme-blue-1;
    color: $theme-white;
    border-radius: $border-radius-1;
    padding: $margin-separator;
    width: 20%;

    * {
        font-size: large;
    }
}

#noelem {
    font-style: italic;
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }

    * {
        print-color-adjust: exact !important;
        -webkit-print-color-adjust: exact !important;
    }
}
