$bootstrap-icons-font-src: url("../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"), url("../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "./vars.scss";

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

html,
body,
.wrapper {
    background-color: $theme-blue-1;
    font-family: "Open Sans", sans-serif;
    height: auto;
    min-height: 100%;
}

.flex-element {
    padding-top: calc(3vh - $margin-separator);

    padding-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
    margin: 5vh;
    width: 44vw;
    background-color: $theme-white;
    box-shadow: $base-shadow;
    border-radius: $border-radius-1;
}

.timeline-task,
.timeline-slot {
    margin-top: 0.4em;
    box-shadow: $base-shadow;
    padding: 1em;
}

.timeline-content,
.timeslot-content {
    display: flex;
    justify-content: space-between;
}

.timeline-slot {
    margin-top: $margin-separator;
    background-color: $theme-blue-2;
    color: $theme-white;
    border-radius: $border-radius-2;
}

.timeline-task {
    border-radius: $border-radius-2;
    background-color: $theme-blue-1;
    cursor: grab;
}

.task-error {
    background-color: $theme-red-2;
    color: $theme-white;
}

.buttons button {
    color: $theme-white;
    border-color: rgba(0, 0, 0, 0);
    border-radius: $border-radius-3;
    border-style: solid;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    padding: 0.1em;
    margin-left: 0.3em;
    width: 1.5em;
    height: 1.5em;
}

.timeline-slot {
    .timeline-content {
        .buttons {
            .copy-button {
                background-color: $theme-blue-1;
            }
        }
    }
}

.timeline-task {
    .timeline-content {
        .buttons {
            .copy-button {
                background-color: $theme-blue-2;
                &:hover {
                    background-image: $hover-light;
                }
            }
        }
    }
}

.buttons {
    .edit-button {
        color: #000000;
        background-color: $theme-yellow;
    }
    .delete-button {
        background-color: $theme-red-2;
    }

    .task-error{
        .timeline-content{
            .buttons{
                .delete-button{
                    background-color: $theme-white;
                    color: $theme-red-1;
                }
            }
        }
    }

    button{
        &:hover{
            background-image: $hover-dark;
        }
    }
}

#timeline {
    list-style-type: none;
}

#timeline-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $theme-white;
    min-height: 78vh;
}

.form {
    margin-top: $margin-separator;
    border: $border-width solid $border-color;
    border-radius: $border-radius-1;
    padding: 1em;
    font-weight: lighter;
}

.form-content {
    display: flex;
    justify-content: left;
    align-items: center;
}

.form-content{
    form, p{
        margin-right: $margin-separator;
        max-width: 40%;

    }
}

h1 {
    text-transform: uppercase;
}

.form-error {
    color: $theme-red-1;
}

#noelem {
    font-style: italic;
}

input,
select,
button,
#load-button-text {
    border-color: $theme-blue-2;
    border-radius: $border-radius-3;
    background-color: $theme-blue-1;
    color: $theme-white;
    font-weight: bold;
    padding: 0.3em;
    margin: 0.1em;
    border-width: 0.2em;
    border-style: none;
}

button[type="submit"],
#load-button-text,
#print-button,
#save-button,
#clear-button {
    background-color: $theme-blue-2;
}

#TLength {
    width: 0.6em;
    text-align: right;
}

#TLengthMins {
    width: 1.2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#managementPanel {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

#managementPanel button,
#load-button-text {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

#load-button-text {
    font-size: 80%;
}

.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $theme-blue-2;
    border: 1px solid $theme-blue-1;
    padding: 20px;
    color: $theme-white;
    min-width: 50%;
    max-width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup * {
    margin-bottom: 1em;

    input {
        background-color: $theme-blue-1;
        min-width: 80%;
        height: 1.5em;
        display: inline-block;
        border: solid 1px black;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-weight: normal;
    }
}
