$border-radius-1: 2em;
$border-radius-2: 0.8em;
$border-radius-3: 0.3em;
$margin-separator: 1.7em;

$hover-dark: linear-gradient(rgb(0 0 0/40%) 0 0);
$hover-light: linear-gradient(rgb(255 255 255/40%) 0 0);

$base-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
$border-color: rgb(150, 150, 150);
$border-width: 0.1em;

$theme-white: #edf2f4;
$theme-red-1: #ef233c;
$theme-red-2: #d90429;
$theme-blue-1: #8d99ae;
$theme-blue-2: #2b2d42;
$theme-yellow: #e6c260;